#root {
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  height: 100vh;
  width: 100vw;
  animation-iteration-count: var(--shake-amount);

  --shake-amount: 0;
  --shake-dir-x: 0;
  --shake-dir-y: 0;
  --shake-speed: 0ms;
  --shake-strength: 0px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.bottom-container {
  position: fixed;
  top: 30vh;
  text-align: center;
}

.health-bar {
  height: 10px;
  width: 100%;
  background-color: #16a34a;
  transition: 0.5s ease;
}