#root {
  margin: 0;
  padding: 2rem;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  justify-items: center;

  --shake-amount: 0;
  --shake-dir-x: 0;
  --shake-dir-y: 0;
  --shake-speed: 0ms;
  --shake-strength: 0px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

